#map {
  border: 1px solid gray;
  border-bottom: 0;
  height: 70vh;
}

.timeline {
  border: 1px solid gray;
  border-top: 0;
  height: 100px;
  position: relative;
  width: 100%;
}

.year {
  position: absolute;
}

/* SVG */

.axis {
  font-size: 0.75em;
}

.axis path, .axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke-width: 1;
  stroke: black;
}
